<div class="categories-items-cards-wrapper">
  <div class="filter">
    <div class="filter-header">
      <h3>Filter</h3>
      <fa-icon class="fachart" [icon]="faChart"></fa-icon>
    </div>
    <div class="radio">
      <h3>
        Spiciness:
        {{ selectedSpiciness === 0 ? "Not Chosen" : selectedSpiciness }}
      </h3>
      <input
        type="range"
        name=""
        id=""
        [(ngModel)]="selectedSpiciness"
        min="0"
        max="4"
      />
    </div>
    <div class="filter-item">
      <input type="checkbox" id="noNutsCheckbox" [(ngModel)]="noNutsChecked" />
      <h3>No Nuts</h3>
    </div>
    <div class="filter-item">
      <input
        type="checkbox"
        id="vegeterianCheckbox"
        [(ngModel)]="vegeterianChecked"
      />
      <h3>Vegetarian Only</h3>
    </div>
    <div class="filter-btn">
      <button (click)="resetFilter()">Reset</button>
      <button (click)="applyFilter()">Apply Filter</button>
    </div>
  </div>
  <div class="card-wrapper-conteiner">
    <div class="cards-wrapper" *ngFor="let i of cardInfo">
      <img [src]="i.image" alt="{{ i.name }}" />
      <h2>{{ i.name }}</h2>
      <p>Spiciness: {{ i.spiciness }}</p>
      <div class="spiciness">
        <div class="spiciness-items">
          <p>Nuts</p>
          <input
            type="radio"
            [checked]="isNutsChecked(i)"
            name="nuts-{{ i.id }}"
            disabled
          />
        </div>
        <div class="spiciness-items">
          <p>Vegeterian</p>
          <input
            type="radio"
            [checked]="isVegeterianChecked(i)"
            name="vegeterian-{{ i.id }}"
            disabled
          />
        </div>
      </div>
      <div class="item-desc">
        <h2>$ {{ i.price }}</h2>
        <div class="add-to-card" (click)="addToCart(i)">Add to cart</div>
      </div>
    </div>
  </div>
</div>
